body{font-family: 'Bitter', serif}
.navbar-light .navbar-brand{color:palevioletred}
.navbar-light .navbar-nav .nav-link {color:palevioletred}
img{width:100%;height:100%}
p{text-align: center; font-size:100%}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:palevioletred;
}