<<<<<<< HEAD
body{font-family: 'Bitter', serif}
.navbar-brand{color:palevioletred}
.nav-link{color:palevioletred}
.jumbotron{background-image:url(jumbotron.png);height:300px}
.welcome{color:white;background-color:black}
.title{color:palevioletred; font-size: 140%}
.blurb{font-style: italic;color:navy;position:center}
=======
h1 {
  color: rgb(51, 44, 150); 
  font-size: 90px;
  text-shadow: 10px 10px 10px black; 
}

#first {
    color:purple;
}

#second {
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: overline;
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    border-color:red;
    border-style: double;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 

}

#cutout {width:300px;

}

#window {width: 200px;
}

.brain {
    color: palevioletred;
}
.heart {
    color:blue;
}

body {
    background-image:url(pattern.jpg);
    background-attachment: scroll;
    background-size: auto;

}
>>>>>>> parent of dcd948a... background changes
