body{font-family: 'Bitter', serif}
.navbar-light.navbar-brand{color:palevioletred}
.jumbotron{background-image:url(jumbotron.png);height:300px}
.welcome{color:white;background-color:black}
.title{color:palevioletred; font-size: 140%}
.blurb{font-style: italic;color:navy;position:center}