body{font-family: 'Bitter', serif}
.navbar-light .navbar-brand{color:palevioletred}
.navbar-light .navbar-nav .nav-link {color:palevioletred}
.jumbotron{background-image:url(jumbotron.png);height:300px}
.welcome{color:white;background-color:black}
.title{color:palevioletred; font-size: 140%}
.blurb{font-style: italic;color:navy;position:center}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:palevioletred;
}